<h1>Listing projects</h1>

<table>
  <tr>
    <th>BitBucket</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td><%= project.bitbucket %></td>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Queue', project_jobs_path(project), method: :post %></td>
      </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>